<!-- Footer -->
<footer class="bg-dark text-center text-white">
    
    <section class="">
      
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li class="footer-list">
              <a href="#!" class="text-white">Preguntas Frecuentes</a>
            </li>
            <li class="footer-list">
              <a href="#!" class="text-white">Acerca de Juli Estética</a>
            </li>
            <li class="footer-list">
              <a href="#!" class="text-white">Contacto</a>
            </li>
          </ul>
        </div>
    </section>
    
    <div class="container p-4">
      
      <section class="mb-4">
        
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>
  
      
  
      
      
      
    </div>
    
    <div class="text-center p-3" style="background-color: white">
      © 2022 Copyright - Juli Estética
    </div>
    
  </footer>
  