<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<form class="row g-3">
    
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email:</label>
      <input type="password" class="form-control" id="inputEmail4">
    </div>
    <div>
        <label for="inputEmail4" class="form-label">Password:</label>
        <input type="password" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
      <div class="button">
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    </div>
    <p class="text-center-noborder">No tenés cuenta? <a href="/users/Register">Creá una rápidamente</a></p>
  </form>

  <%- include('../partials/footer.ejs') %>